<!DOCTYPE html>
<html>
<head>
	<title>Simple Calculator</title>
	<style>
		body {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
		}
		#calculator {
			display: flex;
			flex-wrap: wrap;
			width: 240px;
			background-color: skyblue;
			padding: 20px;
			border-radius: 5px;
		}

		#calculator > button {
			width: 50px;
			height: 50px;
			margin: 5px;
			border-radius: 5px;
		}

		#result {
			width: 168px;
			height: 57px;
			margin: 1px 5px;
			padding: 0 1px;
			background-color: white;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			border-radius: 2px;
		}

		#result > span {
			margin: auto 10px;
			width: 100%;
			overflow-x: auto;
			direction: rtl;
		}

		.operator, .clear, .equal {
			background-color: white;
		}

		p {
			padding: 0;
			margin: 5px auto 0 auto;
			color: white;
			font-style: italic;
		}


	</style>
</head>
<body>

	<div id="calculator">
		<div id="result">
			<span id="res">{{ arithString }}</span>
		</div>
		<button @click= "input_operator('/')" class="operator">/</button>
		<button @click= "input_number(7)" class="value">7</button>
		<button @click= "input_number(8)" class="value">8</button>
		<button @click= "input_number(9)" class="value">9</button>
		<button @click= "input_operator('*')" class="operator">*</button>
		<button @click= "input_number(4)" class="value">4</button>
		<button @click= "input_number(5)" class="value">5</button>
		<button @click= "input_number(6)" class="value">6</button>
		<button @click= "input_operator('-')" class="operator">-</button>
		<button @click= "input_number(1)" class="value">1</button>
		<button @click= "input_number(2)" class="value">2</button>
		<button @click= "input_number(3)" class="value">3</button>
		<button @click= "input_operator('+')" class="operator">+</button>
		<button @click= "input_number(0)" class="value">0</button>
		<button @click= "input_operator('c')" class="clear">c</button>
		<button @click= "input_operator('=')" class="equal">=</button>
		</div>
	</div>

	<!-- vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- my script -->
	<script>
		new Vue ({
			el: '#calculator',
			data: {
				arithString: "",
				op1: "",
				op2: "",
				operator: "",
			}, 
			methods: {
				input_number: function (num) {
					if(!this.operator){
						this.op1 += num
						this.new_result(this.op1)
					} else if(this.operator != "="){
						this.op2 += num
						this.new_result(this.op1 + " " + this.operator + " " + this.op2)
					}
				},
				input_operator: function(operator){
					if(operator == "c"){
						this.op1 = ""
						this.op2 = ""
						this.operator = ""
						this.arithString = ""
					} else if(operator == "=" && this.op2){	// calculate, operator is "="				
						this.op1 = eval(this.arithString).toString()
						this.op2 = ""
						this.operator = ""	
						this.new_result(this.op1)
					} else if(operator != "=" && (this.op1 && !this.operator)){ // add operator
						this.operator = operator
						this.new_result(this.op1 + " " + operator)
					}
				},
				new_result: function(res){
					this.arithString = res
				}
			}
		})
	</script>

</body>
</html>