<!DOCTYPE html>
<html>
<head>
	<title>Simple Todo List</title>
	<style>
		/* apply your styles here :) */
	</style>
</head>
<body>

	<div id="todo-list">	

		<h1 id="title">My Todo List</h1>

		<div id="todo-count">
			<!-- the count of items in your todo list should be displayed here -->
			You have {{ todos.length }} items in your Todo List
		</div>

		

		<form id="add-todo" onclick="event.preventDefault()">
			<input id="add-todo-input" v-model= "input" type="text" placeholder="what will i do?">
			<button id="add-todo-button" @click= "add_todo">Add</button>
		</form>
		<ul id="list-elem">
			<!-- the items in your todo list should be displayed here -->
			<li v-for="todo in todos"> {{todo.text}}</li>
		</ul>

	</div>

	<!-- vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- my script -->
	<script>
		// implement simple todo list using VueJs :)
		new Vue ({
			el: '#todo-list',
			data: {
				todos: [],
				input: ""
			},
			methods: {
				add_todo: function () {
					if(this.input.trim()){
						this.todos.push({text: this.input});
						this.input =  "";
					}
				}
			}

		})
	</script>
</body>
</html>